<div>
  <div id="map" class="map"></div>
  <div class="col">
    <div class="btndest">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Destination" aria-label="Destination" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="button-addon2">Button</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="btngroup">
      <button type="button" (click)="getPosition()" class="btn btn-secondary addmargin">
        Centre
      </button>
      <button type="button" class="btn btn-secondary addmargin" data-toggle="modal" data-target="#signalModal">
        Signaler
      </button>

      <div class="modal fade" id="signalModal" tabindex="-1" role="dialog" aria-labelledby="signalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="signalModalLabel">Signalement</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="modal-body">
              
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="peopleSwitch" formControlName="peopleSwitch">
                    <label class="custom-control-label" for="peopleSwitch">Du monde</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="lightSwitch" formControlName="lightSwitch">
                    <label class="custom-control-label" for="lightSwitch">Lieu éclairé</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="securePlaceSwitch" formControlName="securePlaceSwitch">
                    <label class="custom-control-label" for="securePlaceSwitch">Ambiance Secure</label>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="messageText" placeholder="commentaire" formControlName="messageText"></textarea>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
          </form>
          </div>
        </div>
      </div>

  </div>
</div>

<router-outlet></router-outlet>
