.map {
    height: 100%;
    width: 100%;
  }

.ctn .btngroup {
  position: absolute;
  bottom: 50%;
  right: 10%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.addmargin {
  margin: 0.3rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #04ff00 !important;
  background-color: #04ff00 !important;
}